@model ogloszenia.Models.Offer
@{
    ViewData["Title"] = "Szczegóły oferty";
}
<h1>@ViewData["Title"]</h1>
<div>
    <table>
            <tr>
                <th>
                    <p>Nazwa</p>
                </th>
                <th>
                    <p>@Model.name</p>
                </th>
            </tr>
            <tr>
                <th>
                    <p>Data wstawienia oferty</p>
                </th>
                <th>
                    <p>@Model.date</p>
                </th>
            </tr>
            <tr>
                <th>
                    <p>Opis</p>
                </th>
                <th>
                    <p>@Model.description</p>
                </th>
            </tr>
        </table>
</div>
