@model ogloszenia.Models.Offer
@{
    ViewData["Title"] = "Szczegóły ogłoszenia";
}
@if(@Model.name is null)
{
<h1>Oferta nie istnieje</h1>
}
else
{
<h1>@ViewData["Title"]</h1>
  <div>
    <table>
            <tr>
                <th>
                    <p>Tytuł</p>
                </th>
                <th>
                    <p>@Model.name</p>
                </th>
            </tr>
            <tr>
                <th>
                    <p>Data wstawienia ogłoszenia</p>
                </th>
                <th>
                    <p>@Model.date</p>
                </th>
            </tr>
            <tr>
                <th>
                    <p>Opis</p>
                </th>
                <th>
                    <p>@Model.description</p>
                </th>
            </tr>
        </table>
</div>
  
}
