@model List<ogloszenia.Models.Offer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <table>
            <tr>
                <th>
                    <p>Nazwa</p>
                </th>
                <th>
                    <p>Data</p>
                </th>
                <th>&nbsp</th>
            </tr>
        @foreach (var item in Model) 
        {
            <tr id="borders">
                <th>
                    <p>@item.name</p>
                </th>
                <th>
                    <p>@item.date</p>
                </th>
                <th>
                    <form method="post">
                        <input type="submit" class="btn btn-primary" asp-action="Details" Value="Szczegóły" />
                    </form>
                </th>
            </tr>
        }
        </table>
</div>
