@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Aplikacja aktuallnie nie posiada możliwości do wysyłania e-maila potwierdzającego. Zamiast tego  
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">kliknij tutaj, aby potwierdzić swoje konto</a>
</p>
    }
    else
    {
<p>
        Sprawdź pocztę e-mail, aby potwierdzić swoje konto.
</p>
    }
}

